html {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.nav {
	height: auto;
}

.nav-item {
	text-align: center;
	text-decoration: none;
	color: inherit;
}

.nav-item:hover {
	color: rgba(0,0,0,.3);
}

.nav-item:focus {
	outline: none;
}