html {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.nav {
  background-color: #4369DB;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: " . items";
}

.nav a {
  display: inline-block;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.nav a:hover {
  background-color: white;
}

.nav a:hover > .nav-item {
  color: black;
}

.nav-title {
  text-align: center;
  color: white;
  position: absolute;
  text-shadow: 2.7px 2.7px grey;
  margin-top: 10px;
  left: 0;
  right: 0;
  z-index: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-items {
  position: relative;
  z-index: 1;
  grid-area: items;
  justify-self: end;
  border: none;
}

.nav-item {
  text-decoration: none;
  color: white;
  width: auto;
}