::-webkit-scrollbar{
  display: none;
}

body {
  margin: 0;
}
div {
  border: 1px solid black;
}
.wrapper {
  display: grid;
  height: 99.5vh;
  grid-template-areas: "a b b b c"
                       "d b b b c";
}
.files {
 grid-area: a;

}
.editor { 
  grid-area: b;
}
.widgets {
 grid-area: c;
 overflow-y: scroll;
}
.users {
  grid-area: d;
}