body {
  margin: 0;
}
div {
  border: 1px solid black;
}
.wrapper {
	position: relative;
	top: 0;
	left: 0;
	height: 93vh;
  display: grid;
  grid-template-areas: "a b b b c"
                       "d b b b c";
}
.files {
 grid-area: a;

}
.editor { 
  grid-area: b;
}
.widgets {
 grid-area: c;
 overflow-y: scroll;
}
.users {
  grid-area: d;
}