<!DOCTYPE html>
<html>
	<head>
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>No title assigned</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	{% block head %}{% endblock %}
	</head>

	<body>
		<div class="nav nav-home">
			<p class="nav-title">BlueBoard</p>
      <div class="nav-items">
        <a href="{{ url_for('index') }}"><p class="nav-item">Home</p></a>
        <a href="{{url_for('about')}}"><p class="nav-item">About</p></a>
        <a href="{{ url_for('profile') }}"><p class="nav-item">My Groups</p></a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}"><p class="nav-item">Log Out</p></a>
        {% else %}
        <a href="{{ url_for('login') }}"><p class="nav-item">Log In</p></a>
        {% endif %}
      </div>
    </div>

		{% block body %}{% endblock %}
		<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
		{% block js %}{% endblock %}
	</body>
</html>